<body class="p-3 m-0 border-0 bd-example">
  <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div *ngIf="auth.user$ | async as user" class="btn-primary">
          
            <div class="btn-outline-primary" *ngIf="emaillocal1== user.email">
              <td>Local 1</td>
              <p></p>
              <td>Empleado: {{user.email}}</td>
            </div >
            <div *ngIf="emaillocal2== user.email">
              <td>Local 2</td>
              <p></p>
              <td>Empleado: {{user.email}}</td>
            </div>
          
            <div class="mi-div" *ngIf="emailjefe== user.email">
             
            
            </div>
          </div>
        <button type="button" (click)="logOut()" class="btn btn-light">Cerrar Sesion</button>
      </header>
      <form class="form-group row">
        <div *ngIf="auth.user$ | async as user" class="btn-primary">
           
        </div>
        <div *ngIf="auth.user$ | async as user" class="btn-primary">
          <div *ngIf="emailjefe== user.email">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                  <tr>
                    <td>Corte</td>
                    <td>Cantidad</td>
                    <td>Ganancia</td>
                  </tr>
                </thead>
                  <tbody class="container">
                    <tr>
                      <td>Corte Adulto</td>
                      <td>{{contadorCorteAdulto}}</td>
                      <td>{{gananciaCorteAdulto}}</td>
                    </tr>
                    <tr>
                      <td>Corte Barba</td>
                      <td>{{contadorCorteBarba}}</td>
                      <td>{{gananciaCorteBarba}}</td>
                    </tr>
                    <tr>
                      <td>Corte Niño</td>
                      <td>{{contadorCorteNinio}}</td>
                      <td>{{gananciaCorteNinio}}</td>
                    </tr>
                  </tbody>
              </table>
                <td> Total: {{gananciaTotal}} $
                </td>
            </div>
          </div>
      </form>
    </div>
</body>