<div class="container">
  <div class="content">
    <button type="submit" class="btn btn-primary" (click)="mostrarDialogo()" (click)="nombre = 'Corte Adulto'" style="margin-top: 20px;" >Corte Adulto</button>
  </div>
  <div class="content">
    <button type="submit" class="btn btn-primary"  (click)="mostrarDialogo()" (click)="nombre = 'Corte Barba'" style="margin-top: 20px;">Corte barba</button>
  </div>
  <div class="content">
    <button type="submit" class="btn btn-primary" (click)="mostrarDialogo()" (click)="nombre = 'Corte Niño'" style="margin-top: 20px;" >Corte Niño</button>
  </div>
</div>