<html class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
  <header class=" bd-navbar sticky-top">
    <nav class="nav" *ngIf="auth.user$ | async as user">
      <div class="nav-link active">Local 2</div>
      <div class="nav-link active">Usuario: {{user.email}}</div>
      <button type="button" class="btn btn-danger"  (click)="logOut()">Cerrar Sesion</button>
      <!-- <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" >Local 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Usuario: {{user.email}}</a>
        </li>
        <button type="button" class="btn btn-danger "  (click)="logOut()">Cerrar Sesion</button>
      </ul> -->
      </nav>
    </header>
  <body>
  
    <div class="container">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/pelo.png" class="card-img-top pelo-png" alt="b">
        <div class="card-body">
          <h5 class="card-title">Corte para Adultos</h5>
          <button type="button" class="btn btn-dark" (click)="mostrarDialogo()" (click)="nombre = 'Corte Adulto'">Cargar</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;" >
        <img src="../../../assets/images/barba.png" class="card-img-top barba-png"  alt="beard-img">
        <div class="card-body">
          <h5 class="card-title">Corte para Barbas</h5>
          <button type="button" class="btn btn-dark"  (click)="mostrarDialogo()" (click)="nombre = 'Corte Barba'">Cargar</button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/chico.png" class="card-img-top chico-png" alt="...">
        <div class="card-body">
          <h5 class="card-title">Corte para Niños</h5>
          <button type="button" class="btn btn-dark" (click)="mostrarDialogo()" (click)="nombre = 'Corte Niño'" >Cargar</button>
        </div>
      </div>
    </div>
  </body>
</html>