<html class="colorhtml">
 
  <body class="container">
    <header>
      <nav class="navbar navbar-expand-lg bg-white" >
        <div class="container-xxl my-md-4" >
          <a class="navbar-brand"  style="color:white ;">Peluqueria</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  style="color:white ;"
                >
                  Local 1
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <button
                      type="button"
                      class="dropdown-item"
                      (click)="cortesUltimoDia(1)"
                    >
                      Ultimo dia
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      class="dropdown-item"
                      (click)="cortesUltimaSemana(1)"
                    >
                      Ultima semana
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      class="dropdown-item"
                      (click)="cortesUltimoMes(1)"
                    >
                      Ultimo mes
                    </button>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  style="color:white ;"
                >
                  Local 2
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <button
                      type="button"
                      class="dropdown-item"
                      (click)="cortesUltimoDia(2)"
                    >
                      Ultimo dia
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      class="dropdown-item"
                      (click)="cortesUltimaSemana(2)"
                    >
                      Ultima semana
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      class="dropdown-item"
                      (click)="cortesUltimoMes(2)"
                    >
                      Ultimo mes
                    </button>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <button type="button" class="btn btn-danger" (click)="logOut()">
            Cerrar Sesion
          </button>
        </div>
      </nav>
    </header>
    <table  class="table">
      <thead >
        <tr  style="color: rgb(255, 255, 255);     border-top-color:rgba(255, 255, 255, 0);">
          <th scope="col">Tipo de Corte</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody class="table-group-divider" style="color: aliceblue;">
        <tr>
          <td>Corte Adulto</td>
          <td>{{ contadorCorteAdulto }}</td>
          <td>{{ gananciaCorteAdulto }}</td>
        </tr>
        <tr>
          <td>Corte Barba</td>
          <td>{{ contadorCorteBarba }}</td>
          <td>{{ gananciaCorteBarba }}</td>
        </tr>
        <tr>
          <td>Corte Niño</td>
          <td>{{ contadorCorteNinio }}</td>
          <td>{{ gananciaCorteNinio }}</td>
        </tr>
      </tbody>
      <td class="table-light"  style="color:white ;">Total: {{ gananciaTotal }} $</td> 
    </table>
   </body>
</html>
