@import '~mdb-ui-kit/css/mdb.min.css';
td {
    background-color: #dedede00;
    color: #ffffff;
    font-weight: 600;
    text-align: justify;
    padding: 10px;
    border-radius: 5px; /* agrega borde curvo */
  }
 
  
button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #5d1c1c;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  


.mi-div{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    display:flex;
}

.colortitulo{
  color: #ffffff;
}



.colorhtml{
  background-color: #3a3a40fa;
}


.table-group-divider[_ngcontent-wmi-c10] {
  border-top: 2px solid;
  border-top-color: white;
}


